html{
	font-family: tw cen mt, sans-serif;
}
body{
	margin: 0;
}
hgroup, h4{
	background: #002855;
	height: 250px;
	color: white;
}
h3{
	text-align: left;
	color: white;
	line-height: 100px;
	margin: 0;
}

.flex1 {
	padding: 10px;
	margin:10px;
	background: #002845;
	color: white;
	flex: 200px;
}
.flex2 {
	padding: 10px;
	margin:10px;
	background: #a2aaad;
	flex: 200px;
}

section {
	display: flex;
	flex-wrap: wrap;
}
header{
	background: #002845;
	border-bottom: solid #FF0000;
	padding: 0;
}

figure{
	
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 10px;
}
figcaption{
	color: white;
	text-align:center;
}

h1{
	color: white;
	text-align: right-center;
}

.a{
	display:block;
	margin-left: auto;
	margin-right:auto;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}

a:hover{
	box-shadow: 00 2px 1px rgba(0, 140, 186, 0.5);
}

.row{
	display:flex;
	flex-wrap: flex;
}

.column{

	padding: 10%;
	flex: 200px;
	width: 25%;	
}

footer{
	padding:  10px;
	margin: 10px;
	flex-wrap: wrap;
	color: white;
	text-align: right-center;
	background: #002845;
}